/* ---------------------------
------------------------------
1. General html styles for flavor
-------------------------------
----------------------------- */
html {
    background-color: black;
}

h1 {
    color: greenyellow;
    margin-top: 50px;
    text-align: center;
}

/* ----------------------------
-------------------------------
2. Styles for the canvas element 
-------------------------------
----------------------------- */
/* 
The height and width are set as global variables (in index.html within the canvas tag) to prevent distortion
*/
#canvas {
    border: greenyellow 5px solid;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}