/* ---------------------------
------------------------------
1. General html styles
-------------------------------
----------------------------- */
:root {
    --green: rgba(172, 255, 47, 0.7);
}

html {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: pink;
    margin-top: 50px;
    font-family: 'Courier New';
    font-size: 32px;
    text-align: center;
}

.buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px
}

p {
    color: pink;
    font-family: 'Courier New';
    font-size: 20px;
    text-decoration: underline;
    margin: 10px
}

.death {
    color: var(--green);
}

/* ----------------------------
-------------------------------
2. Canvas Element
-------------------------------
----------------------------- */
.canvasContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#canvas {
    background-color: white;
    border: pink 10px solid;
    margin-left: -10px;
}

/* ----------------------------
-------------------------------
3. Speed Slider
-------------------------------
----------------------------- */
.slideContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        background-color: #fff;
        overflow: hidden;
        -webkit-appearance: none;
    }

    input[type='range']::-webkit-slider-runnable-track {
        color: gray;
        height: 10px;
        margin-top: -1px;
        -webkit-appearance: none;
    }

    input[type='range']::-webkit-slider-thumb {
        background: #434343;
        box-shadow: -80px 0 0 80px var(--green);
        height: 10px;
        cursor: ew-resize;
        -webkit-appearance: none;
        width: 10px;
    }

}

/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: var(--green);
}

input[type="range"]::-moz-range-track {
    background-color: #fff;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: var(--green);
}

input[type="range"]::-ms-fill-upper {
    background-color: #fff;
}